@page "/"
@inject HttpClient httpClient
@using Otodom.DTO

<PageTitle> Householding </PageTitle>

<div class="video-background">
    <video playsinline autoplay muted loop>
        <source src="homepage.mp4" type="video/mp4">
    </video>
</div>

<div class="container">
    <h1 class="welcome-message">Witamy na Householding</h1>
</div>

<style>

.video-background {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 500px;
        z-index: -1; /* Upewnij się, że wideo jest za innymi elementami */
}

        .video-background video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Zapewnia pokrycie całego obszaru bez rozciągania */
        }

    .container {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 600px; /* Adjust the width as necessary */
        text-align: center;
        z-index: 10;
        opacity: 0.6;
    }

    .welcome-message {
        margin: 0;
        font-size: 2.5rem;
    }

</style>
