.photo-gallery .photo {
    max-width: 100%; /* Ogranicza szerokość zdjęcia do 100% kontenera */
    height: auto; /* Zachowuje proporcje zdjęcia */
    margin-bottom: 15px; /* Dodaje odstęp pomiędzy zdjęciami */
}

footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    opacity: 0.9;
}

footer p {
    margin: 0;
    padding: 5px;
    color: #333; /* Jasno-szary kolor tekstu */
}

footer a {
    margin-right: 10px;
    color: #333; /* Jasno-szary kolor tekstu */
    text-decoration: none;
}

    footer a:hover {
        text-decoration: underline;
    }

.why-householding {
    text-align: center;
    width: 900px; /* Możesz zmienić szerokość zgodnie z potrzebami */
    margin: 0 auto; /* To centruje kontener w poziomie */
    padding: 5px;
    opacity: 0.9;
    background-color: white;
    border-radius: 15px; /* To dodaje zaokrąglenie narożników */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcjonalnie, cień dla lepszego efektu */
    position: relative; /* Ustaw pozycję względem innych elementów, jeśli to konieczne */
    z-index: 10; /* Upewnij się, że kontener jest nad tłem */
    overflow: hidden; /* Zapobiega wyciekom zawartości poza zaokrąglone narożniki */
}

    .why-householding .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .why-householding h2 {
        margin-bottom: 20px;
    }

    .why-householding p {
        margin-bottom: 40px;
    }

.title-card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px; /* Dostosuj odstęp, aby pasował do layoutu */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: center; /* Jeśli chcesz, aby tekst był na środku */
    position: relative; /* Jeśli będziesz potrzebować dodatkowych elementów absolutnie pozycjonowanych */
    z-index: 2; /* Zapewnia, że tekst będzie na wierzchu, jeśli masz inne warstwy */
}

.container {
    background-color: white;
    max-width: 1200px;
    margin: auto;
    position: relative; /* Dla pozycjonowania względnego */
    z-index: 3; /* Nad tłem */
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    margin: 10px;
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
}

.card-content {
    position: relative; /* Ustawienie względem kafelka */
    z-index: 2; /* Upewnij się, że tekst jest widoczny nad wideo */
    color: #000; /* Ciemny kolor tekstu dla czytelności */
    padding: 1rem; /* Odstęp wewnątrz kafelka */
    /* pozostałe style */
}

.card .overlay {
    position: absolute; /* Pełne pokrycie tłem kafelka */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ciemne tło z przezroczystością */
    z-index: 1; /* Poniżej tekstu, ale nad wideo */
}

    .card img {
        width: 100%; /* Szerokość obrazu na 100% kontenera */
        height: 200px; /* Stała wysokość dla wszystkich obrazów */
        object-fit: cover; /* Obrazy będą pokrywały obszar bez utraty proporcji */
    }

@media (max-width: 992px) {
    .card-container {
        justify-content: space-around;
    }

    .card {
        flex: 0 0 calc(50% - 20px); /* Dwie karty na szerokość dla tabletów */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 100%; /* Jedna karta na szerokość dla urządzeń mobilnych */
        max-width: 100%; /* Zapewnienie, że karta nie przekracza szerokości ekranu */
    }
}

.btn-primary {
    color: #FFFFFF;
    background-color: #007BFF; /* Niebieskie tło */
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none; /* Usunięcie podkreślenia z linków */
    display: block; /* Zmiana na block umożliwia automatyczne wyrównanie */
    margin: 20px auto 10px; /* Marginesy górny i dolny oraz auto po bokach */
    z-index: 10; /* Upewnij się, że przyciski są nad wideo */
    position: relative;
    width: fit-content; /* Szerokość dopasowana do zawartości */
}

    .btn-primary:hover {
        background-color: #0056b3; /* Ciemniejszy odcień niebieskiego przy najechaniu */
    }

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 500px;
    z-index: -1; /* Upewnij się, że wideo jest za innymi elementami */
}

    .video-background video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Zapewnia pokrycie całego obszaru bez rozciągania */
    }

.island-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.island {
    background-color: #ffffff;
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    opacity: 0.9;
}

    /* Ustawienie przycisków obok siebie */
    .island .btn-primary {
        margin-top: 10px; /* Odstęp od górnego tekstu */
        display: inline-block; /* Aby przyciski były obok siebie */
        width: calc(50% - 5px); /* Alokacja połowy szerokości kontenera dla przycisku */
        text-align: center; /* Wyśrodkowanie tekstu na przycisku */
    }

/* Responsywność dla "wysp" */
@media (max-width: 768px) {
    .island-container, .card-container {
        flex-direction: column;
    }

    .island, .card {
        flex-basis: 100%;
    }

        .island .btn-primary {
            width: 100%; /* Pełna szerokość na urządzeniach mobilnych */
            margin-top: 10px;
        }
}

/* Jeśli chcesz, aby kontener miał maksymalną szerokość i był responsywny: */
@media (max-width: 950px) {
    .why-householding {
        width: 85%; /* Szerokość kontenera to 85% szerokości ekranu */
        margin: 20px auto; /* Dodatkowy margines, aby zapewnić przestrzeń */
    }
}

/* Ustawienia dla małych urządzeń */
@media (max-width: 600px) {
    .why-householding {
        width: 95%; /* Szerokość kontenera to 95% szerokości ekranu na małych urządzeniach */
    }
}