@page "/rynekwtorny"
@inject HttpClient httpClient
@using DTO

<PageTitle>Rynek wtórny</PageTitle>

<h3>Rynekwtorny</h3>

@if (zdjecia != null && zdjecia.Any())
{
    <ul>
        @foreach (var zdjecie in zdjecia)
        {
            <li>
                <img src="@zdjecie.ZdjecieData" alt="Zdjęcie" />
            </li>
        }
    </ul>
}
else
{
    <p>Brak zdjęć do wyświetlenia.</p>
}


@code {
    private List<Zdjecie> zdjecia = new List<Zdjecie>();

    protected override async Task OnInitializedAsync()
    {
        zdjecia = await httpClient.GetFromJsonAsync<List<Zdjecie>>("https://localhost:7144/zdjecies");
    }
}
