<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">House Holding</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Strona główna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nasprzedaz">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Na sprzedaż
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="firmy">
                <span class="bi bi-cart" aria-hidden="true"></span> Firmy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rynek">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rynek
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kredyty">
                <span class="bi bi-bank" aria-hidden="true"></span> Kredyty
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
